
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-5 p-5 card-body">
                <!-- Start Form-->
                <form>
                    <div class="form-group ">
                        <input type="email" class="form-control" 
                            placeholder="Enter your registered email address">    
                    </div>

                    <!--Login Button-->
                    <button type="submit" class="btn btn-primary btn-block rounded-pill loginbtn"
                        name="login">CONTINUE</button>
                    <!--End Login Button-->
                </form>
                <!--End From-->
                <p class="text-center mt-4">Login</p>

                </div>
            </div>
        </div>
    </div>