<div class="row mt-my-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-success">Your appointment has been booked successfully.</h5>
            <p class="card-text">14th jan 2021</p>
            <a  class="btn btn-dark float-right">Check</a>
          </div>
    </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-success">Your appointment has been booked successfully.</h5>
            <p class="card-text">14th jan 2021</p>
            <a  class="btn btn-dark float-right">Check</a>
          </div>
    </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-success">Your appointment has been booked successfully.</h5>
            <p class="card-text">14th jan 2021</p>
            <a  class="btn btn-dark float-right">Check</a>
          </div>
    </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-success">Your appointment has been booked successfully.</h5>
            <p class="card-text">14th jan 2021</p>
            <a  class="btn btn-dark float-right">Check</a>
          </div>
        </div>
</div>
